@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}


h1 {
    font-family: "Cal Sans", sans-serif;
    margin-top: 20px;
}

.navbar {
    background-color: #7db4e5; /* açık mavi */
    padding: 3px 30px;
    text-align: left;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.navbar h1 {

    margin-left: 40px;
    color: #0e365e;
    font-size: 30px;
}

.form {
    margin-top: 20px;
}

input {
    padding: 12px;
    margin: 8px;
    width: 250px;
    border: 1px solid #aaa;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
}

input:focus {
    border-color: #66aaff;
    outline: none;
}

button {
    padding: 12px 24px;
    background-color: #3399ff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #1a75d1;
}


#lyrics {
    margin-top: 30px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    white-space: pre-wrap;
    color: #222;
    font-size: 16px;
    line-height: 1.6;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
}


#about {
    margin-top: 60px;
    padding: 30px;
    background-color: #f2f8ff;
    border-radius: 12px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

#about a {
    color: #1a73e8;
    text-decoration: none;
}

#about a:hover {
    text-decoration: underline;
}


#about h2 {
    color: #444;
}

#about p {
    color: #333;
    font-size: 16px;
}

